//Colors
$primary-text: rgb(88, 88, 88);
$primary-color: rgb(22, 26, 42);
$secondary-color: rgb(45, 51, 113);
$secondary-color-hover: rgba(45, 51, 113, 0.888);

/*
Old Green Secondary Color:
$secondary-color: rgb(45, 113, 97);
*/
