.greenBackground {
  background-color: #161a2a;
  min-width: 100%;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.greenCurve {
  z-index: -100;
  position: absolute;
  top: 480px;
}
@media only screen and (min-width: 2000px) {
  .greenBackground {
    height: 350px;
  }
  .greenCurve {
    top: 350px;
  }
}
@media only screen and (min-width: 2850px) {
  .greenBackground {
    height: 200px;
  }
  .greenCurve {
    top: 200px;
  }
}
@media only screen and (min-width: 3850px) {
  .greenBackground {
    height: 100px;
  }
  .greenCurve {
    top: 100px;
  }
}
