.greenBackground {
  background-color: #161a2a;
  min-width: 100%;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.greenCurve {
  z-index: -100;
  position: absolute;
  top: 480px;
}

/*
.greenBackground {
  background-color: #7fbd6f;
  min-width: 100%;
  height: 520px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.greenCurve {
  z-index: -100;
  position: absolute;
  top: 520px;
}
*/
