.header {
  width: 100%;
  color: #fff;
  padding: 25px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logo {
}
.name {
  font-size: 1.8rem;
  font-weight: 700;
}
.tagline {
  font-size: 1.25rem;
  font-weight: 300;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  font-size: 0.9rem;
  font-weight: 500;
}
.menuItem {
  color: #fff;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
}
.menuItem:hover {
  background-color: #2d7161;
}
.highlight {
  background-color: #2d7161;
}
.icon {
  position: relative;
  top: 2px;
  margin-right: 4px;
}
