.wrapper {
  max-width: 900px;
  margin: 0 auto;
}
.white {
  color: #fff;
}
.footer {
  min-height: 80px;
}

/* Mobile Responsive CSS */
@media only screen and (max-width: 900px) {
  .wrapper {
    max-width: 90%;
  }
}
